button {
  background-color: transparent;
  border-radius: 6px;
  padding: $space-2 $space-4;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  border: none;
  transition: .2s ease-in;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  &.large {
    max-height: 36px;
  }
  &.medium {
    max-height: 30px;
    font-size: 14px;
    padding: calc($space-2 - $space-1 / 2) $space-3;
    svg {
      &.middle {
        width: 16px;
        height: 16px;
      }
      &.right-middle {
        width: 16px;
        height: 16px;
      }
    }
  }
  &.small {
    max-height: 25px;
    font-size: 13px;
    padding: $space-1 $space-2;
    svg {
      &.middle {
        width: 14px;
        height: 14px;
      }
      &.right-middle {
        width: 14px;
        height: 14px;
      }
    }
  }

  &.primary {
    background-color: $c-green;
    color: $c-white;
    border: 1px solid $c-green;
  }
  &.secondary {
    background-color: $c-green_light;
    color: $c-green_dark;
    border: 1px solid $c-green_light;
  }
  &.tertiary {
    background-color: transparent;
    border: 1px solid $c-green;
    color: $c-green_dark;
  }
  &:hover {
    background-color: $c-green_hover;
    color: $c-white;
    transition: .2s ease-out;
    border: 1px solid $c-green;
  }
 
  &:active {
    background-color: $c-green_dark;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  }
  &:disabled {
    background-color: $c-button_disabled;
    color: $c-grey_dark;
    border: 1px solid $c-button_disabled;
    cursor: not-allowed;
  }
  svg {
    &.middle {
      width: 18px;
      height: 18px;
    }
    &.right-middle {
      width: 18px;
      height: 18px;
    }
  }
  // CHANGE COLOR
  &.blue {
    background-color: $c-blue;
    color: $c-white;
    &.secondary {
      background-color: $c-blue_light;
      color: $c-blue_dark;
    }
    &.tertiary {
      background-color: transparent;
      border: 1px solid $c-blue;
      color: $c-blue_dark;
    }
    &:hover {
      background-color: $c-blue_hover;
      color: $c-white;
      transition: .2s ease-out;
    }
  }
  &.red {
    background-color: $c-red;
    color: $c-white;
    &.secondary {
      background-color: $c-red_light;
      color: $c-red_dark;
    }
    &.tertiary {
      background-color: transparent;
      border: 1px solid $c-red;
      color: $c-red_dark;
    }
    &:hover {
      background-color: $c-red_hover;
      color: $c-white;
      transition: .2s ease-out;
    }
  }
  
}