.buttons {
  max-width: 800px;
  margin: $space-3;

  &_container {
    border: 1px solid $c-grey_light;
    padding: $space-4;
    border-radius: 10px;
    margin: $space-3 0 $space-8 0;

    &-line {
      display: flex;
      gap: $space-10;
      margin: $space-3 0;
      &--group {
        text-align: center;
        label {
          font-size: 14px;
          color: $c-grey_dark;
        }
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: 0;
  }
}