button {
  background-color: transparent;
  border-radius: 6px;
  padding: $space-2 $space-4;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  border: none;
  transition: .2s ease-in;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  &.large {
    max-height: 40px;
  }
  &.medium {
    max-height: 40px;
    font-size: 14px;
    padding: calc($space-2 - $space-1 / 2) $space-3;
    svg {
      &.middle {
        width: 16px;
        height: 16px;
      }
      &.right-middle {
        width: 16px;
        height: 16px;
      }
    }
  }

  &.primary {
    background-color: $c-green;
    color: $c-white;
  }
  &.secondary {
    background-color: $c-green_light;
    color: $c-green_dark;
  }
  &.tertiary {
    background-color: transparent;
    border: 1px solid $c-green;
    color: $c-green_dark;
  }
  &:hover {
    background-color: $c-green_hover;
    color: $c-white;
    transition: .2s ease-out;
  }
 
  &:active {
    background-color: $c-green_dark;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  }
  &:disabled {
    background-color: $c-button_disabled;
    color: $c-button_disabled-text;
    cursor: not-allowed;
  }
  svg {
    &.middle {
      width: 20px;
      height: 20px;
    }
    &.right-middle {
      width: 20px;
      height: 20px;
    }
  }
}