aside {
  max-width: 400px;
  width: 100%;
  padding: $space-6 $space-3 $space-6 $space-6;
  border-right: 1px solid $c-grey_light;
  box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.15);
  .nav__container {
    position: fixed;
    .logo {
      font-size: 26px;
      font-weight: bold;
      color: $c-green;
      text-decoration: none;
      transition: ease-in .1s;
      span {
        color: $c-grey_dark;
      }
      @media screen and (max-width: 1024px) {
        font-size: 18px;
        transition: ease-out .2s;
      }
    }
    nav {
      margin-top: $space-12;
      ul {
        list-style: none;
        display: flex;
        margin: $space-4;
        gap: $space-4;
        flex-direction: column;
        a {
          text-decoration: none;
          font-size: 16px;
          color: $c-grey;
          transition: ease-in .1s;
          position: relative;
          max-width: 100px;
          width: 100%;
          font-weight: 300;
          &::after {
            content: '';
            background: $c-green;
            display: block;
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 0;
            height: 1px;
            transition: 0.3s ease-in-out;

            left: 0;
            bottom: 0;
          }
          &::before {
            content: '';
            background-color: $c-green;
            width: 10px;
            height: 10px;
            position: absolute;
            border-radius: 50%;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            transform: scale(0%);
            transition: ease-in .2s;
          }
          &:hover {
            color: $c-black;
            transition: ease-out .2s;
            &::after {
              width: 100%;
            }
          }
          &.router-link-active {
            color: $c-black;
            &::after {
              width: 100%;
            }
            &::before {
              transform: scale(100%);
              transition: ease-out .2s;
              top: 35%;
            }
          }
        }
      }
    }
  }
}