body {
  background-color: $c-white;
}
#app {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  .pageApp {
    display: flex;
    min-height: 100vh;
  
    .container {
      
      width: 100%;
      padding: $space-10;
      
      
      // Typo
      h3 {
        span {
          font-size: 16px;
          font-weight: 500;
        }
      }
      
      hr {
        border: none;
        border-bottom: 1px dashed $c-button_disabled-text;
        margin: $space-6 0 $space-6 0;
        padding: 0 0 $space-6 0;
      }
    }
  }
}
