// COLORS
$c-white: #ffffff;
$c-grey-light: #dfdfdf;
$c-grey_dark: #6e6e6e;

$c-green: #4fc08d;
$c-green_hover: #42ab7c;
$c-green_light: #c9f4e0;
$c-green_dark: #2d825b;

$c-blue: #4f80c0;
$c-blue_hover: #3b6cab;
$c-blue_light: #97bef2;
$c-blue_dark: #2c5284;

$c-red: #c04f4f;
$c-red_hover: #b03e3e;
$c-red_light: #eda0a0;
$c-red_dark: #862b2b;


$c-orange: #c08f4f;
$c-yellow: #c0bc4f;
$c-purple: #914fc0;

$c-button_disabled: #dfdfdf;
$c-button_disabled-text: #767676;


// SPACINGS
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;


// FONTS
$f-thin: 100;
$f-ext_light: 200;
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semi_bold: 600;
$f-bold: 700;
$f-ext_bold: 800;